h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
 }

 .p-e-ul{
     background-color: red;
     color: rgb(255, 255, 255);
 }

 p{
     font-family: serif;
     font-style: italic;
     font-size: 3em;
     font-weight: 600;
 }

 body{
     background-color: rgb(231, 216, 207);
     font-size: 16px;
 }

 #amarelo{
     background-color: yellow;
     color: black;
     text-decoration: underline;
 }

 #vermelho{
     background-color: red;
     text-decoration: underline;
 }

 #marrom{
     background-color: brown;
     text-decoration: underline;
 }

 ul{
     text-align: center;
     line-height: 40px;
 }