h1 {
    text-align: center;
  }

h3{
    text-align: center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;

    display: block;
    list-style-type: none;
    margin: auto;
  }

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;

    display: inline-block;
    list-style-type: none;
  }

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;

    display: inline-block;
    list-style-type: none;
  }

  #second-third{
      margin: auto;
      text-align: center;
  }

  .rewards{
      list-style-type: none;
      display: inline-block;
      text-align: center;
  }

  .list-group{
      text-align: center;
      list-style-position: outside;
  }